.App {
  text-align: center;
  padding: 5px;
}

header {
  padding: 5px;
  background-color: indigo;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  color: HotPink;
}

.main {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 1px solid black;
  margin-right: 3px;
  background-image: url(./background.svg);
}

.toolBox {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.toolContainer {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.numberInput {
  width: 70px;
  margin-right: 3px;
}

.delayInput {
  width: 90px;
  margin-right: 3px;
}

.canvasContainer {
  display: flex;
  margin: 5px auto;
  justify-content: center;
}

.inputContainer {
  display: block;
  margin: 5px auto;
}

.colorButton {
  display: inline;
  width: 25px;
  height: 25px;
  margin: 1px;
  border-radius: 4px;
  background-color: #CCC;
  padding: 4px;
}

.colorButton div {
  width: 17px;
  height: 17px;
  border-radius: 4px;
}

.palette {
  padding: 5px;
  width: 375px;
}

.palettePane {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.colorIndicator {
  display: inline;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  border-radius: 4px;
  background-color: #DDD;
  padding: 5px;
}

.colorIndicator div {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}


