.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

canvas {
  border: 1px solid black;
  margin-right: 3px;
}

.toolContainer {
  margin: 5px auto;
  display: flex;
  border-radius: 5px;
}

.numberInput {
  width: 70px;
  margin-right: 3px;
}

.delayInput {
  width: 90px;
  margin-right: 3px;
}

.canvasContainer{
  display: flex;
  margin: 5px auto;
}